@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #10141E;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}